<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date %-11marker %-5level %logger{128} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log/twitter2.log</file>
        <encoder>
            <pattern>
                <!-- %date %-5level [%thread] %logger{128} - %msg%n -->
                %date %-11marker %-5level %logger{128} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>